* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #FAF7F7;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;

    margin: 0 auto;
    width: 100%;
}

:root {
    --color-red: #EA5045;
    --color-grey: #FAF7F7;
}

#login_header {
    background-color: var(--color-red);
    width: 100%;
    height: 58vw;
    position: relative;
}


#kea_logo {
    position: absolute;
    width: 30vw;
    top: 25vw;
    left: 35vw;

}


#login_formular {
    position: absolute;
    top: 15vw;
    left: 15vw;


}

#login_section {
    position: relative;
}

#continue_knap {
    margin-top: 5rem;
}

.formgroup {
    width: 70vw;
    height: 12vw;
    border-radius: 2rem;
    border-style: none;
    color: var(--color-red);
    padding-left: 1rem;
    font-size: 0.9rem;

}

.formgroup2 {
    width: 70vw;
    height: 12vw;
    border-radius: 2rem;
    border-style: none;
    color: white;
    padding-left: 1rem;
    font-size: 0.6rem;
    background-color: var(--color-red);

}

.formgroup3 {
    width: 70vw;
    height: 12vw;
    border-radius: 2rem;
    border-style: solid;
    border-color: var(--color-red);
    color: var(--color-red);
    padding-left: 1rem;
    font-size: 0.6rem;
    background-color: var(--color-grey);
    border-width: 0.15rem;
    font-weight: bolder;
    background-image: url(billeder/facebook_logo.png);
    background-repeat: no-repeat;
    background-position: 1rem;

}


#menu {
    width: 100%;
    max-width: none;
    background-color: var(--color-red);
    height: 19vw;
    position: relative;


}

#logo_menu {
    width: 15vw;
    background-image: url(billeder/kea_logo.png);
    background-size: 100%;
    height: 4vw;
    top: 10vw;
    left: 4vw;
    position: absolute;
    background-repeat: no-repeat;


}


#profile_menu {
    width: 3vw;
    background-image: url(billeder/profile.png);
    background-size: 100%;
    height: 4vw;
    top: 11.4vw;
    left: 82vw;
    position: absolute;
    background-repeat: no-repeat;

}


#materialer {
    width: 32vw;
    background-image: url(billeder/materialer.png);
    background-size: 100%;
    height: 29vw;

}

#skema {
    width: 32vw;
    background-image: url(billeder/skema.png);
    background-size: 100%;
    height: 29vw;
    margin-left: 0.6rem;
    margin-right: 0.6rem;

}

#notifikationer {
    width: 32vw;
    background-image: url(billeder/notifikationer.png);
    background-size: 100%;
    height: 29vw;
    background-repeat: no-repeat
}

#column1,
#column2,
#column3,
#column4 {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

#column2,
#column3,
#column4 {
    margin-top: 1rem;
}


#techlounge {
    width: 66.6vw;
    background-image: url(billeder/techlounge.png);
    background-size: 100%;
    height: 29vw;
    margin-right: 0.6rem;

}

#mail {
    width: 32vw;
    background-image: url(billeder/mail.png);
    background-size: 100%;
    height: 29vw;

}

#favoritter {
    width: 32vw;
    background-image: url(billeder/favoritter.png);
    background-size: 100%;
    height: 29vw;
    margin-right: 0.6rem;

}

#grupper {
    width: 32vw;
    background-image: url(billeder/grupper.png);
    background-size: 100%;
    height: 29vw;
    margin-right: 0.6rem;
}

#chat {
    width: 32vw;
    background-image: url(billeder/chat.png);
    background-size: 100%;
    height: 29vw;
}

#soeg {
    width: 30vw;
    background-image: url(billeder/soeg.png);
    background-size: 100%;
    height: 29vw;
}


#afleveringer {
    width: 30vw;
    background-image: url(billeder/afleveringer.png);
    background-size: 100%;
    height: 29vw;
    margin-top: 0.6rem;
}


#aktuelt {
    width: 60vw;
    background-image: url(billeder/aktuelt.png);
    background-size: 100%;
    height: 61.6vw;
    margin-right: 0.6rem;
    background-repeat: no-repeat;


}

#columnleft {
    margin-right: 0.6rem;
    margin-left: 0.6rem;

}

.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-family: sans-serif;
    position: absolute;
    top: 10vw;
    left: 90vw;

}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: #F58E81;
    font-size: 4.5vw;
    font-weight: bolder;

}

#menu_list {
    background-color: #3F3140;
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    height: 180vw;
    margin-top: -5vw;
    text-align: center;
}

li {
    margin-bottom: 3rem;
}

#aktuelt_burger {
    padding-top: 40vw;
}

#logud_burger {
    height: 13vw;
    background-color: #F58E81;
    margin-left: -10vw;
    margin-top: 10.2rem;

}

#logud_burger p {
    font-family: sans-serif;
    font-size: 4.5vw;
    color: white;
    font-weight: bolder;
    line-height: 3rem;
}
